/* Global CSS */

*{

    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, p, ul, a {

    margin: 0;
    padding: 0;
}

/* Global CSS */

/*font-family: 'Poppins', sans-serif;*/


/* Header Section */

header{

margin-top: 15px;
}

.navbar{

    margin: 0;
    padding: 0;
}

.collapse{

    justify-content: end;
}

.navbar-brand img{

width: 150px;
}

.topshadow{

position: absolute;

top: -25%;

right: 0px;

width: 65%;

z-index: -1;

padding: 0;
}

.topshadow img{

width: 100%;
}

.borders{

border: 1px solid white;

border-radius: 7px;
}

.nav-link{

color: white;

font-weight: 500;
}

.nav-item{

margin-left: 30px;
}

/* Header Section */

/* Banner Section */

.banner{

margin: 50px 0;

position: relative;
}

.bannerrow{justify-content: space-between;}

/* <!-- Column 1 - We provide High Quality --> */
.bannerright{

margin: 5% 0;
}

.bannerright h5{

font-size: 30px;

font-weight: 400;
}

.FREE{

border: none;

padding: 0;

border: 1px solid #0e66b4;

background: #0c64b5;

color: white;

padding: 15px 20px;

font-weight: bolder;

margin: 25px 0;

font-size: 20px;
}

.FREE:hover{

    background-color: black;
    color: white;
}

.highquality{

width: 300px;

margin-bottom: 25px;
}

.highquality h3{

font-weight: 700;

font-size: 50px;
}

.highquality h3 span{

color: #277bca;
}

/* <!-- Column 1 - We provide High Quality --> */


/* <!-- Column 2 -Photo --> */


.bannerimage img{

width: 100%;
}

/* <!-- Column 2 -Photo --> */


/* <!-- Live Calls Section --> */

.livecalls{

margin-bottom: 100px;
}



.callsimg{

width: 95%;
}

.callsimg img{

width: 100%;
}

.callswrap{

margin-top: 100px;

/* width: 150px; */

text-align: end;

margin-left: 230px;
}

.callswrap h2{font-weight: 700;font-size: 50px;}

.callswrap h2 span{

color: #277bca;
}

.col-two p{

/* width: 60%; */

margin: 10px 0;

/* display: inline; */

text-align: end;

/* margin-left: 7%; */

font-size: 25px;
}

/* <!-- Second row with features --> */

.callstwo{

justify-content: space-between;

margin-bottom: 50px;
}

.shadowbg{

background: #f3f3f3;

padding: 30px;

border-radius: 10px;

margin-top: 25px;

height: fit-content;
}

.shadowbg p{

margin-top: 10px;

line-height: 33px;

padding-bottom: 55px;
}

.title{

display: flex;
}

.icon{
    width: 60px;
    margin-right: 20px;
}

.icon img{

width: 100%;
}

.title h3{

font-weight: 700;

font-size: 30px;

margin-bottom: 20px;
}

.accordion-button::after{

    content: none;
}

.accordion-item{

margin-bottom: 15px;

border: 1px solid #f3f3f3;

/* background-color: #f3f3f3; */

border-radius: 11px;
}



.accordion-button{

background: #f3f3f3;

/* border-radius: 5px; */

font-size: 30px;

font-weight: 700;

/* border-radius: 0; */

/* border: 1px solid #f3f3f3; */

text-align: center;

align-items: center;
}



.titlefaq h2{

margin-bottom: 100px;

font-size: 50px;

text-align: center;
}

.accordion-header{

margin: 0 !important;

border-radius: 5px;
}

.fa-plus{

color: #0c64b5;

font-weight: bolder;

margin-right: 14px;

/* font-size: 22px; */

padding-top: 7px;
}

.faq{

margin-bottom: 80px;
}

.contacts{

margin: 40px 0;
}

.contacts ul{

list-style: none;
}

.contacts ul li{

display: flex;

align-items: center;

margin-bottom: 5px;
}

.contacts ul li i{

color: #0c64b5;
}

.contacts ul li h6{

font-size: 16px;

font-weight: 400;

margin-left: 10px;
}



.footerfirst h6{

margin-top: 20px;

font-weight: normal;
}



.logo img{

width: 150px;
}



.footersecond h6{

margin-top: 35px;

font-weight: normal;

text-align: end;

color: white;
}

.footersecond ul{

list-style: none;

display: flex;

justify-content: end;
}

.bottomshadow{

position: absolute;

width: 64%;

bottom: -49px;

right: 0;

z-index: -1;
}

.bottomshadow img{

width: 100%;
}

.footer{

    position: relative;
    
}

.footerlist{

margin: 0;

margin-left: 21px;

padding-top: 6px;
}



.number{

border: 1px solid white;

padding: 6px 15px;
}