/* Global CSS */

*{

    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, p, ul, a {

    margin: 0;
    padding: 0;
}

/* Global CSS */

/*font-family: 'Poppins', sans-serif;*/


/* Header Section */

header{

padding-top: 15px;

background: #f9f9f9;
}

.navbar{

margin: 0;

padding: 0;

z-index: 1;
}

.navbar-toggler{

    border: none !important;
    outline: none !important;
    box-shadow: none !important;
}

.collapse{

    justify-content: end;
}

.navbar-brand img{

width: 150px;
}

.topshadow{

position: absolute;

top: -25%;

right: 0px;

width: 65%;

z-index: 0;

padding: 0;
}

.topshadow img{

width: 100%;
}

.borders{

border: 1px solid white;

border-radius: 7px;
}

.borders a i{

font-size: 15px;

padding-right: 5px;
}

.borders:hover{

    background-color: white;
    color: white;
}

.borders:hover.borders a{

  
    color: #0c64b5;
}



.nav-link{

color: white;

font-weight: 500;
}

.nav-item{

margin-left: 30px;
}

/* Header Section */

/* Banner Section */

.banner{

/* padding: 50px 0; */

position: relative;

background: #f9f9f9;

padding-bottom: 50px;
}

.bannerimage{

}

.bannercolumn{

    z-index: 1;

}

.whiteshadow{

position: absolute;

top: 83%;

left: 0px;

z-index: 0;

padding: 0;
}


.whiteshadow img{

width: 100%;
}

.bannerrow{justify-content: space-between;padding-top: 51px;}

/* <!-- Column 1 - We provide High Quality --> */
.bannerright{

margin: 2% 0;
}

.bannerright h5{

font-size: 20px;

font-weight: 400;
}

.FREE{

border: none;

padding: 0;

border: 1px solid #0e66b4;

background: #0c64b5;

color: white;

padding: 15px 20px;

font-weight: bolder;

margin: 25px 0;

font-size: 20px;
}

.FREE:hover{

    background-color: black;
    color: white;
}

.highquality{

width: 300px;

margin-bottom: 25px;
}

.highquality h3{

font-weight: 700;

font-size: 50px;
}

.highquality h3 span{

color: #277bca;
}

/* <!-- Column 1 - We provide High Quality --> */


/* <!-- Column 2 -Photo --> */


.bannerimage img{

width: 100%;
}

/* <!-- Column 2 -Photo --> */


/* <!-- Live Calls Section --> */

.livecalls{

padding-bottom: 100px;

background: #f9f9f9;
}



.callsimg{

/* width: 95%; */
}

.callsimg img{

width: 100%;
}

.callswrap{

margin-top: 20px;

/* width: 150px; */

text-align: end;

margin-bottom: 25px;
}

.callswrap h2{font-weight: 700;font-size: 35px;}

.callswrap h2 span{

color: #277bca;
}

.col-two p{

/* width: 60%; */

margin: 10px 0;

/* display: inline; */

text-align: end;

/* margin-left: 7%; */

font-size: 16px;

font-weight: normal;
}

/* <!-- Second row with features --> */

.col-one{

    z-index: 1;
}

.col-two{

    z-index: 1;
}

.callstwo{

justify-content: space-between;

margin-bottom: 50px;
}

.shadowbg{

background: white;

padding: 30px;

border-radius: 10px;

margin-top: 25px;

box-shadow: 1px 1px 3px 2px #dfdfdf;

height: 393px;
}

.shadowbg p{

margin-top: 15px;

x;

font-size: 20px;
}

.title{

display: flex;
}

.icon{
    width: 100px;
    margin-right: 45px;
}

.icon img{

width: 100%;
}

.title h3{

font-weight: 700;

font-size: 35px;

margin-bottom: 20px;
}

.accordion-button::after{

    content: none;
}

.accordion-item{

margin-bottom: 15px;

border: 1px solid #f3f3f3;

/* background-color: #f3f3f3; */

border-radius: 11px;

background: #f3f3f3;
}



.accordion-button{

background: white;

border-radius: 5px;

font-size: 30px;

font-weight: 700;

/* border-radius: 0; */

/* border: 1px solid #f3f3f3; */

text-align: center;

align-items: center;
}



.titlefaq h2{

margin-bottom: 100px;

font-size: 50px;

text-align: center;
}

.accordion-header{

margin: 0 !important;

border-radius: 5px;
}

.fa-plus{

color: #0c64b5;

font-weight: bolder;

margin-right: 14px;

/* font-size: 22px; */

padding-top: 7px;
}

.faq{

padding-bottom: 80px;

background: #f9f9f9;
}

.contacts{

margin: 40px 0;
}

.contacts ul{

list-style: none;
}

.contacts ul li{

display: flex;

align-items: center;

margin-bottom: 5px;
}

.contacts ul li i{

color: #0c64b5;
}

.contacts ul li h6{

font-size: 16px;

font-weight: 400;

margin-left: 10px;
}



.footerfirst h6{

margin-top: 20px;

font-weight: normal;
}


.footerfirst h6:hover{

    cursor: pointer;
}


.logo img{

width: 150px;
}



.footersecond h6{

margin-top: 35px;

font-weight: normal;

text-align: end;

color: white;
}

.footersecond h6:hover{

    color: black;
    cursor:pointer;
}

.footersecond ul{

list-style: none;

display: flex;

justify-content: end;
}

.bottomshadow{

position: absolute;

width: 58%;

bottom: 0;

right: 0;

z-index: 0;
}

.bottomshadow img{

width: 100%;
}

.footer{

    position: relative;
    
}

.footerlist{

margin: 0;

margin-left: 21px;

padding-top: 6px;
}

.footerlist:hover{

  color: #0c64b5;
}



.number{

border: 1px solid white;

padding: 6px 15px;
align-items: center;
}

.number a{

    align-items: center;

}

.number a i{

padding-right: 5px;

font-size: 15px;
}

.getstarted{

background: #f9f9f9;

position: relative;
}

.centertitle{

text-align: center;

margin-bottom: 80px;
}
.centertitle h2{

font-weight: 700;

font-size: 50px;
}

.centertitle h2 span{

color: #0c64b5;
}

.content{

display: flex;
}

.boxone{

background: white;

padding: 20px 15px;

border-radius: 10px;

box-shadow: 2px 2px 10px 4px #e3e3e3;

height: 250px;
}

.boxone:hover{

    background-color: #e3e3e3;
    box-shadow: none;
}

.boxone p{padding: 20px 20px;}

.subtitle{
    display: flex;
    /* align-items: center; */
    margin-bottom: 10px;
}

.subtitle i{

color: green;

padding-top: 15px;
}

.subtitle h4{

font-size: 35px;

font-weight: 500;

padding-left: 10px;
}

.boxtwo{

background: white;

padding: 20px 15px;

border-radius: 10px;

box-shadow: 2px 2px 10px 4px #e3e3e3;

margin-top: 40px;

height: 250px;
}

.boxtwo:hover{

    background-color: #e3e3e3;
    box-shadow: none;
}

.boxtwo p{

padding: 20px 20px;
}

.getphoto{

width: 90%;

margin-left: 10%;
}

.getphoto img{

width: 100%;
}

.getbutton{

text-align: center;
}

.thirdshadow{

position: absolute;

bottom: 75px;

left: 0;

padding: 0;
}

.thirdshadow img{

    
}

.getcol{

    z-index: 1;
}

.cross{

    color: red !important;
}

.process{

padding: 50px 0;

background: #f9f9f9;
}

.steps{

}

.stepone{


}

.bgimg{

position: relative;
}

.bgimg img{


}

.textbox{

position: absolute;

bottom: 32%;

transform: translateY(32%);

padding: 0 20px;
}

.textbox h2{

text-align: center;

padding-bottom: 20px;

font-weight: 700;
}

.textbox p{

font-size: 20px;

text-align: center;
}


.spacing{

    
}

.industry{

background: #f9f9f9;

padding: 30px;
}

.sectors{


}

.logopng{


}

.logopng img{


}

.sectorcol{

margin-bottom: 35px;
}

.sectorcol h2{

margin-top: 10px;
}

.list {

margin: 15px 0;
}

.list ul{

list-style: none;
}

.list ul li{

display: flex;

padding-bottom: 11px;
}

.list ul li i{

color: #0c64b5;
}

.list ul li h6{

padding: 0 7px;

font-weight: normal;
}

.footerimg{

    z-index: 1;
}

.footersecond{

    z-index: 1;
}